orderbatch.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="uuidType">
        <xs:restriction base="xs:string">
            <xs:pattern
                    value="([0-9]|[a-f]|[A-F]){8}-([0-9]|[a-f]|[A-F]){4}-([0-9]|[a-f]|[A-F]){4}-([0-9]|[a-f]|[A-F]){4}-([0-9]|[a-f]|[A-F]){12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="ProductName" type="xs:string"/>
    <xs:element name="Quantity" type="xs:int"/>
    <xs:element name="SpecialInstruction" type="xs:string"/>
    <xs:element name="Item">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ProductName"/>
                <xs:element ref="Quantity"/>
                <xs:element ref="SpecialInstruction"/>
            </xs:sequence>
            <xs:attribute type="uuidType" name="ProductNumber" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Account">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="uuidType">
                    <xs:attribute name="Type" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="B2C"/>
                                <xs:enumeration value="B2B"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Items">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Item" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PurchaseOrder">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Account"/>
                <xs:element ref="Items"/>
            </xs:sequence>
            <xs:attribute type="xs:int" name="PurchaseOrderNumber"/>
            <xs:attribute type="xs:date" name="OrderDate"/>
        </xs:complexType>
    </xs:element>
</xs:schema>